* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 10px;
}


/* Kontener służy wyłącznie do konstrukcji, więc się go nie stylizuje */

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    /* wysrodkowanie kontenera */
}

.container::before, .container:after {
    display: table;
    content: "";
    clear: both;
}


/* ----------- Header ---------- */

.header {
    background-color: black;
}

header h1 {
    font-size: 1.4rem;
    font-weight: normal;
    color: white;
    width: 50%;
    float: left;
    padding: 15px 25px;
    margin-left: 0;
    text-align: left;
}

.header h1 span {
    color: #27c7ab;
    font-size: 1.4rem;
    font-weight: normal;
}

.header nav {
    width: 50%;
    float: right;
    margin-right: 0;
    text-align: right;
}

.mainMenu {
    display: inline;
    list-style-type: none;
    width: 100%;
}

.mainMenu li {
    display: inline-block;
    position: relative;
}

.mainMenu li a {
    display: block;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 1.4rem;
    font-weight: normal;
    font-variant: inherit;
    text-decoration: none;
}

.subMenu {
    display: none;
    position: absolute;
    left: 0;
    top: 120%;
    /* przestrzeni position: relative */
    background-color: black;
    z-index: 9;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 28px solid transparent;
    border-bottom: 28px solid black;
    top: -40px;
    left: calc(50% - 28px);
}

.hasChildren a:focus+.subMenu {
    display: block;
}


/* ----------- Section: slider ---------- */

#slider {
    height: 500px;
    background: linear-gradient(#fafafa, #d0cfd7);
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 130px;
    padding-bottom: 130px;
}

#slider #img-slider {
    float: left;
    display: inline-block;
    width: 48%;
}

#arrowL {
    display: block;
    color: lightgrey;
    text-align: left;
    font-size: 7.2rem;
    font-variant: inherit;
    text-decoration: none;
    position: absolute;
    top: calc(50% - 40px);
    width: 6%;
    margin-right: 1%;
}

.sliderText {
    width: 40%;
    display: inline-block;
}

#arrowR {
    display: inline-block;
    color: #27c7ab;
    text-align: right;
    font-size: 7.2rem;
    font-variant: inherit;
    text-decoration: none;
    position: absolute;
    top: calc(50% - 40px);
    width: 6%;
    margin-left: 1%;
}

#slider h2 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 2rem;
    font-weight: normal;
}

#slider h2 span {
    color: #27c7ab;
    font-size: 4rem;
    font-weight: bold;
}

#slider button {
    display: block;
    padding: 10px 30px;
    border: none;
    background-color: #27c7ab;
    border-radius: 10px;
    margin: 0 auto;
}

#slider button a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.sliderText p {
    font-size: 1.4rem;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 3%;
}


/* ----------- Section: content ---------- */

#content {
    background-color: white;
}

#content article {
    float: left;
    height: 200px;
    width: 33.3332%;
    margin-left: 0;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-bottom: 10rem;
    background-color: white;
}

#content article:before, #content article:after {
    content: "";
    clear: both;
    display: table;
}

article div {
    min-height: 200px;
    padding-top: 1px;
}

.border {
    padding: 1rem;
    width: auto;
    height: auto;
    border: 2px solid lightgrey;
    text-align: justify;
}

.invisible {
    display: none;
}

#content article h3 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: bold;
    padding: 2rem;
    margin: 0;
    background-color: rgba(255, 255, 255, .3);
    margin-top: 40%;
}

#content article h3 span {
    border-bottom: 5px solid #27c7ab;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

article:first-child div {
    background-image: url(../images/box1_img.jpg);
    background-size: cover;
}

article:nth-child(2) div {
    background-image: url(../images/box2_img.jpg);
    background-size: cover;
}

#content article:nth-child(3) div h3 {
    margin: 0;
}

article p {
    font-size: 1.6rem;
}


/* ----------- Section: prices ---------- */

#prices_stickers h3 {
    padding: 45px 0;
    margin-bottom: 45px;
}

#prices_stickers {
    background-color: #f1f1f1;
    margin-top: 50px;
}

#prices_stickers h3 span {
    border-bottom: 5px solid #27c7ab;
    padding-right: 236px;
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: #575757;
}

.sticker {
    float: left;
    position: relative;
    height: 500px;
    width: 330px;
    background-color: white;
    border: 2px solid #d2d2d2;
    margin-right: 2rem;
    text-align: center;
    margin-bottom: 6.5rem;
}

.sticker-top-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d2d2d2;
    border: 2px solid #d2d2d2;
    box-shadow: 0 0 0 12px white inset;
    position: absolute;
    top: -35px;
    right: 140px;
}

.sticker .top {
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: #27c7ab;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sticker-in-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #d2d2d2;
    margin: auto;
}

.sticker-in-circle .price {
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: bold;
    vertical-align: middle;
    color: rgb(194, 194, 194);
}

.sticker-in-circle sup {
    vertical-align: 40%;
    font-size: small;
}

.sticker-in-circle .price div {
    font-size: 1.6rem;
    line-height: 1.6rem;
    vertical-align: middle;
}

.sticker-info {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: rgb(147, 147, 147);
    margin-top: 30px;
    margin-bottom: 30px;
}

.sticker-info div {
    font-size: 2.4rem;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

.sticker-info div:nth-child(even) {
    background-color: white;
}

.sticker button {
    width: 120px;
    height: 30px;
    color: white;
    font-size: 1.6rem;
    line-height: 2rem;
    vertical-align: middle;
    background-color: #27c7ab;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 105px;
    cursor: pointer;
}


/* ----------- Section: prices - HOVER ---------- */

.sticker:hover {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}

.sticker:hover .sticker-top-circle {
    background-color: white;
    border: 2px solid #27c7ab;
    box-shadow: 0 0 0 12px #27c7ab inset;
}

.sticker:hover .top {
    color: white;
}

.sticker:hover .sticker-in-circle {
    background-color: white;
    border: 2px solid #27c7ab;
}

.sticker:hover .sticker-in-circle .price {
    color: #27c7ab;
}

.sticker:hover button {
    color: #27c7ab;
    background-color: white;
}

/* ----------- Section: application ---------- */

.application {
    background-color: #f9f9f9;
}
.application h3 {
    color: #575757;
    padding: 0 0;
    margin-bottom: 0;
    border-bottom: 5px solid #27c7ab;
    padding-right: 0;
    font-size: 2rem;
    line-height: 2rem;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:33%;
  padding:14px;
  vertical-align: top;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

/* ----------- Section: contact ---------- */

#contact h3 {

}

#contact {
    background-color: white;
}

#contact h3 span {
    border-bottom: 5px solid #27c7ab;
    padding-right: 236px;
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: #575757;
}

.left {
    float: left;
    padding-top: 20px;
}

.right {
    float: right;
}

.in1 {
    height: 60px;
    width: 630px;
    border: 1px solid #27c7ab;
    margin-bottom: 20px;
    font-size: 26px;
    text-indent: 10px;
}

.ta1 {
    height: 185px;
    max-height: 185px;
    width: 630px;
    max-width: 630px;
    border: 1px solid #27c7ab;
    font-size: 26px;
    text-indent: 10px;
}

#contact .right img {
    margin: auto;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #27c7ab;
    margin: -1px 20px 0 0;
    vertical-align: middle;
    cursor: pointer;
    float: left;
}

input[type="checkbox"]:checked+label span {
    background: url('../images/form_ok.jpg');
    background-position: center center;
}

label {
    display: inline-block;
    line-height: 22.5px;
    font-size: 20px;
    color: rgb(194, 194, 194);
    margin-top: 20px;
}

input[type="submit"] {
    height: 70px;
    width: 345px;
    background-color: #27c7ab;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}


/* ----------- Footer ---------- */

footer {
    padding: 85px;
    line-height: 40px;
    vertical-align: middle;
}

footer .rights {
    font-size: 16px;
    color: #9b9b9b;
    display: inline-block;
    float: left;
    width: 50%;
}

footer .social-media {
    display: inline-block;
    list-style-type: none;
    float: left;
    width: 32%;
    text-align: right;
}

footer .social-media li {
    display: inline-block;
}

footer h2 {
    font-size: 20px;
    margin: 0;
    text-align: right;
    color: #9b9b9b;
    display: inline-block;
    font-weight: normal;
    float: left;
    width: 18%;
}

footer h2 span {
    font-weight: bold;
    font-size: 20px;
}
